<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="info"
    internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    
    <target name="database" xsi:type="Database" >
      <connectionString>
        Data Source=.\SQLEXPRESS;Initial Catalog=SourceName;Integrated Security=True;
      </connectionString>
      
      <commandText>
        INSERT INTO [Log] (
        "Application", "Level", "Message", "Logger", "Callsite", "Exception", "LogDate")
        VALUES ( @Application, @Level, @Message,
        @Logger, @Callsite, @Exception,@LogDate);

      </commandText>

      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@LogDate" layout="${date}" />
    </target>
  </targets>

  <rules>
    <logger name="*"  minlevel="Debug" maxlevel="Error" final="true" writeTo="database" />
  </rules>
</nlog>